<header id="header">
  <p>OI, EU SOU O DIEGO 🚀</p>
  <h1 class="h1-1">FULLSTACK
    <div>
      <button (click)="abrir('https://www.linkedin.com/in/diegochavesaraujo/')"><img src="../../assets/imgs/linkedin.svg" alt="linkedin"></button>
      <button (click)="abrir('https://github.com/Dieg0Ch4ves')"><img class="git" src="../../assets/imgs/github.svg" alt="github"></button>
      <a href="../../assets/Diego Chaves.pdf" download ><img src="../../assets/imgs/doc.svg" alt="curriculo"></a>
    </div>
  </h1>
  <h1 class="h1-2">DEVELOPER</h1>
  <p class="desc-1">Tenho 18 anos e estou desenvolvendo</p>
  <p class="desc-2">aplicações web e trabalhando como freelancer a mais de 1 ano</p>
</header>
