<footer>
  <div class="footer-desc">
    <div class="footer-desc-box">
      <img src="../../assets/imgs/local.svg" alt="localização">
      <h1>Localização</h1>
      <p>Cuiabá</p>
      <p>Mato Grosso</p>
      <p>Brasil</p>
    </div>
    <div class="footer-desc-box">
      <img src="../../assets/imgs/email.svg" alt="email">
      <h1>E-mail</h1>
      <p>diegoaraujo200570@gmail.com</p>
    </div>
    <div class="footer-desc-box">
      <img src="../../assets/imgs/fone.svg" alt="telefone">
      <h1>Telefone(WhatsApp)</h1>
      <p>(65) 9 9968-9972</p>
    </div>
  </div>
  <p class="direitos">© Todos os Direitos Reservados - Diego Chaves</p>
</footer>
