<section id="sobre">
  <h1 class="title">Sobre mim</h1>
  <div class="descricao">
    <p>Meu nome é <span>Diego Chaves,</span> atualmente moro em Cuiabá, capital de Mato Grosso e a mais de 1 ano atrás entrei para a área de desenvolvimento, fui me aperfeiçoando para ter experiencia profissional na área e hoje me tornei um Programador Fullstack usando como principais tecnologias <span>Angular</span> e <span>Java</span>, fiz diversos cursos de programação e a lógica, adquirindo habilidades como <span>HTML5, CSS3, JavaScript, React JS</span> entre outras ... </p>
    <img src="../../assets/Foto_Perfil.jpeg" alt="Diego Chaves">
  </div>
</section>
