<section>
  <div class="col-text">
    <p>ENTRE EM CONTATO</p>
    <h1>Preencha o formulário para dar inicio a um projeto !</h1>
  </div>
  <form (ngSubmit)="enviar()" method="post" class="col-form">

    <input name="name" type="text" placeholder="Nome *" [(ngModel)]="nome" required>
    <input type="email" name="email" placeholder="E-mail *" [(ngModel)]="email" required>
    <textarea name="message" width="200px" placeholder="Mensagem *" [(ngModel)]="mensagem" required></textarea>

    <button type="submit">Enviar</button>

  </form>
</section>
