section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 40px;
  background: linear-gradient(var(--cor-13), var(--cor-12), var(--cor-2), var(--cor-3));
}

.col-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  padding-top: 60px;
}

.col-text p {
  font-size: 1.5rem;
  padding: 5px;
}

.col-text h1 {
  font-size: 1.75rem;
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px;
}


.click-copy {
  background-color: #FFF;
  border-radius: 10px;
}

.click-copy button {
  width: 100%;
  background: linear-gradient(var(--cor-3), var(--cor-4));
  border-radius: 0px;
  padding: 10px;
  transition: 0.3s;
}

.click-copy button:hover {
  background: #000;
}

.click-copy h2 {
  padding: 20px;
  border: 2px solid var(--cor-5);
  border-radius: 4px;
  transition: 0.3s;
}

.col-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--cor-13);
  border-radius: 10px;
  padding: 60px;
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.04);
}

.col-form input[type="text"], input[type="email"] {
  width: 300px;
  height: 40px;
  color: #000;
  font-size: 1rem;
  font-family: 'Sora';
  background: linear-gradient(var(--cor-7), var(--cor-8));
  padding: 10px;
  border-radius: 4px;
  border-bottom: 3px solid #CCC;
}

.col-form textarea {
  max-width: 300px;
  height: 80px;
  font-size: 1rem;
  font-family: 'Sora';
  color: #000;
  background: linear-gradient(var(--cor-7), var(--cor-8));
  padding: 10px;
  border-radius: 4px;
  border-bottom: 3px solid #CCC;
}

button {
  padding: 20px 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  background: linear-gradient(var(--cor-7), var(--cor-9), var(--cor-10));
  cursor: pointer;
}

button:hover {
  background: #83a07a;
  color: var(--cor-13);
}

@media(max-width: 700px) {
  .col-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-13);
    border-radius: 10px;
    padding: 40px;
  }
  .col-form {
    padding: 40px;
  }

}

@media(max-width: 450px) {
  .col-form {
    gap: 20px;
    padding: 10px;
  }

    .col-form input[type="text"],
    input[type="email"] {
      width: 200px;
      height: 20px;
      color: #000;
      font-size: 1rem;
      font-family: 'Sora';
      background: linear-gradient(var(--cor-7), var(--cor-8));
      padding: 10px;
      border-radius: 4px;
      border-bottom: 3px solid #CCC;
    }

    .col-form textarea {
      max-width: 200px;
      height: 40px;
      font-size: 1rem;
      font-family: 'Sora';
      color: #000;
      background: linear-gradient(var(--cor-7), var(--cor-8));
      padding: 10px;
      border-radius: 4px;
      border-bottom: 3px solid #CCC;
    }

    .click-copy {
      width: 300px;
    }

    .click-copy button {
      font-size: 0.75rem;
      padding: 10px;
      transition: 0.3s;
    }

    .click-copy button:hover {
      background: #000;
    }

    .click-copy h2 {
      font-size: 0.75rem;
      padding: 5px;
      text-align: center;
    }
}
