<section>
  <div class="col-text">
    <p>ENTRE EM CONTATO</p>
    <h1>Preencha o formulário para dar inicio a um projeto !</h1>
  </div>
  <form action="https://api.staticforms.xyz/submit" method="post" class="col-form">

    <input type="text" name="name" placeholder="Nome *" required>
    <input type="email" name="email" placeholder="E-mail *" required>
    <textarea width="200px" name="message" placeholder="Mensagem *" required></textarea>
    <input type="hidden" name="accessKey" value="91b40a8e-8b95-416e-9bb0-9f42267faf22">

    <button type="submit">Enviar</button>

  </form>
</section>
