<section>
  <h1>TECNOLOGIAS</h1>
  <ul class="box-tec" >
    <li><img src="../../assets/imgs/angular.png" alt="angular" width="150" height="100"></li>
    <li><img src="../../assets/imgs/java.png" alt="java" width="150" height="150"></li>
    <li><img src="../../assets/imgs/spring.png" alt="spring" width="200" height="150"></li>
    <li><img src="../../assets/imgs/react.png" alt="react" width="150" height="150"></li>
    <li><img src="../../assets/imgs/html.png" alt="html" width="150" height="200"></li>
    <li><img src="../../assets/imgs/css.png" alt="css" width="150" height="150"></li>
    <li><img src="../../assets/imgs/javascript.png" alt="javascript" width="150" height="150"></li>
    <li><img src="../../assets/imgs/mysql.png" alt="mysql" width="150" height="150"></li>
  </ul>
</section>
