<section>
  <div class="card1">
    <button (click)="abrir('https://projeto-to-do-list-delta.vercel.app')">
      <div class="monitor-container1">
        <img class="monitor1" src="../../assets/imgs/monitor.svg" alt="">
        <img class="tablet1" src="../../assets/imgs/tablet.svg" alt="">
        <div class="screen1">
        <div class="screen2">
        </div>
        </div>
      </div>
      <div class="caixa-texto1">
        <p>TO-DO-LIST</p>
        <h1>SITE DE GERENCIAMENTO DE TAREFAS DE USUARIOS</h1>
      </div>
    </button>
  </div>
  <div class="card2">
      <button (click)="abrir('https://projeto-my-contacts-react.vercel.app/')" >
      <div class="monitor-container2">
        <img class="monitor2" src="../../assets/imgs/monitor.svg" alt="">
        <img class="tablet2" src="../../assets/imgs/tablet.svg" alt="">
        <div class="screen3">
        <div class="screen4">
          </div>
        </div>
      </div>
      <div class="caixa-texto2">
        <p>MyContacts</p>
        <h1>SITE PARA GERENCIAR CONTATOS</h1>
      </div>
    </button>
    </div>
  </section>
